/* Index page */
 p,h4,h5,h6,li{
   
font-family: 'Lora', serif;

}

h1,h3,h2{
   
font-family: 'Gloock', serif;

}

body{
  background-color: white
 

}

/* left column in grid */

@media only screen and (max-width: 600px) {
    .left{
        margin: 26px;
         width: auto;
         height: auto;
         text-align: center;
     }
    
  }

  @media (min-width: 600px) and (max-width: 768px) {
    .left{
        margin: 50px;
      margin-left: 94px;
         width: auto;
         height: auto;
         text-align: center;
     }
    
  }
  @media (min-width: 768px) and (max-width: 1113px) {

    .left{
       margin: 5px;
       margin-top: 50px;
         width: auto;
         height: auto;
         text-align: center;
     }
    
  } 

  @media (min-width: 1113px){

    .left{
       margin: 100px;
     
         width: auto;
         height: auto;
         text-align: center;
     }
    
  } 
  




/* right column in grid */

@media only screen and (max-width: 600px) {
    .right{
        margin: 26px;
         width: auto;
         height: auto;
         text-align: center;
     }
    
  }

  @media (min-width: 600px) and (max-width: 768px) {
    .right{
        margin: 50px;
      margin-left: 94px;
         width: auto;
         height: auto;
         text-align: center;
     }
    
  }

  @media (min-width: 768px) and (max-width: 1113px) {

    .right{
       
        margin: 5px;
        margin-top: 50px;
          width: auto;
          height: auto;
          text-align: center;
     }

    }

    @media (min-width: 1113px){

        .right{
            margin: 100px;
            width: auto;
            height: auto;
            text-align: center;
         }
        
      } 
      


/* page height */

@media only screen and (min-width: 768px) {
    .grid-height{
        height: 600px;
        
        }
   
  } 



/* text in left column */

.about{
    text-align: center;

}

/* left column 'click here' button */

.click-here{
    padding: 10px;
    margin-top: 10px;
}

/* footer */

.footnote{
text-align: center;
}

/* End of index page */


                                        /* Python MAD LIBS */

.text-area{
   padding: 30px;
}
.text-spacing{
    margin-bottom: 10px;
}
.parah-spacing{
    margin-top: 30px;
    
}
.blog-img{
    margin-top: 60px;
    margin-bottom: 60px;
}
li{
    margin: 5px;
}
.cover-bg{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFDE5A;
}

/* Python variables */

.page{
    margin-top: 20px;
}
.tab{
    margin-left: 200px;
  
}